doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Book Store
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;600;700;900&family=Open+Sans&display=swap" rel="stylesheet")
    link(rel='stylesheet' type='text/css' href='bundle/main.css')
  body
    header 
      .container-header 
        h1.h1-name Bookshop
        .menu 
          p Books
          p audiobooks
          p Stationery & gifts
          p blog
        .icons 
          img(src="/src/images/user.svg" alt="user")
          img(src="/src/images/search.svg", alt="search")
          img(src="/src/images/shop-bag.svg", alt="shop-bar")
    main 
      .container-main 
        img.banner-01(src="/src/images/banner-01.svg", alt="banner-01")
    script(src='bundle/main.js' type='module')