doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Book Store
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;600;700;900&family=Open+Sans&display=swap" rel="stylesheet")
    link(rel='stylesheet' type='text/css' href='/bundle/main.css')
  body
    header.header 
      .container-header 
        h1.h1-name Bookshop
        .menu 
           
            a(href="#").menu__p Books
           
            a(href="#").menu__p audiobooks
            
            a(href="#").menu__p Stationery & gifts
            
            a(href="#").menu__p blog
            
        .icons 
          img(src="/src/images/user.svg" alt="user")
          img(src="/src/images/search.svg", alt="search")
          img(src="/src/images/shop-bag.svg", alt="shop-bar")
    main.main 
      .container-main 
        img.banner-01#banner(src="/src/images/banner-01.png", alt="banner-01")
        .promo-01 
          p.promo-01__p Change old book on new
          img.promo-01__img(src="/src/images/arrow-right.svg", alt="arrow-right")
        .promo-02
          p.promo-02__p top 100 books 2022
          img.promo-02__img(src="/src/images/arrow-right.svg", alt="arrow-right")
        .slider-dots
          .slider-dots__dot-1.active-dot
          .slider-dots__dot-2 
          .slider-dots__dot-3
        .book-cards 
          aside.aside
            ul.list
              li.list__item.list__item-active Architecture
                .active-point
              li.list__item Art & Fashion
              li.list__item Biography
              li.list__item Business
              li.list__item Crafts & Hobbies
              li.list__item Drama
              li.list__item Fiction
              li.list__item Food & Drink
              li.list__item Health & Wellbeing
              li.list__item History & Politics
              li.list__item Humor
              li.list__item Poetry
              li.list__item Psychology
              li.list__item Science
              li.list__item Technology
              li.list__item Travel & Maps
          .book-card 
            img.book-card__main-photo(src="/src/images/crazy-rich-asians.png", alt="crazy-rich-asians")
            .book-card-info
              p.book-card-info__author Kevin Kwan
              h3.book-card-info__book-name Crazy rich asians
              .book-card-info__rating 
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star.svg", alt="star")
                span.reviews 252 review
              p.book-card-info__description the outrageously funny debut novel about three super-rich, pedigreed Chinese families and the gossip...
              span.book-card-info__price $4.99
              button.book-card-info__button buy now
          .book-card-02 
            img.book-card__main-photo(src="/src/images/the-handmaids-tale.png", alt="the-handmaids-tale")
            .book-card-info
              p.book-card-info__author Margaret Atwood
              h3.book-card-info__book-name The handmaid’s tale
              .book-card-info__rating 
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star.svg", alt="star")
                span.reviews 1,1M review
              p.book-card-info__description This novel can be interpreted as a double narrative, Offred's tale and the handmaids' tales. The night...
              span.book-card-info__price $6.99
              button.book-card-info__button buy now
          .book-card-03 
            img.book-card__main-photo(src="/src/images/brave-new-world.png", alt="brave-new-world")
            .book-card-info
              p.book-card-info__author Aldous Huxley
              h3.book-card-info__book-name Brave new world
              .book-card-info__rating 
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star.svg", alt="star")
                span.reviews 1,3M review
              p.book-card-info__description dystopian novel written in 1931 by English author Aldous Huxley, and published in 1932. Largely set in...
              span.book-card-info__price $12.43
              button.book-card-info__button buy now
          .book-card-04
            img.book-card__main-photo(src="/src/images/educated.png", alt="educated")
            .book-card-info
              p.book-card-info__author Tara Westover
              h3.book-card-info__book-name Educated
              .book-card-info__rating 
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star.svg", alt="star")
                span.reviews 364 review
              p.book-card-info__description It is a tale of fierce family loyalty and of the grief that comes with severing the closest of ties. With...
              span.book-card-info__price $12.68
              button.book-card-info__button buy now
          .book-card-05
            img.book-card__main-photo(src="/src/images/the-weight-of-things.png", alt="the-weight-of-things")
            .book-card-info
              p.book-card-info__author Marianne Fritz
              h3.book-card-info__book-name The weight of things
              .book-card-info__rating 
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star.svg", alt="star")
                span.reviews 353 review
              p.book-card-info__description You discover not an eccentric fluke of literary nature but rather a brilliant and masterful satiris...
              span.book-card-info__price $18.23
              button.book-card-info__button buy now
          .book-card-06
            img.book-card__main-photo(src="/src/images/mothers-stories.png", alt="mothers-stories")
            .book-card-info
              p.book-card-info__author Chris Power
              h3.book-card-info__book-name Mothers stories
              .book-card-info__rating 
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star-color.svg", alt="star-color")
                img.star(src="/src/images/Star.svg", alt="star")
                span.reviews 454 review
              p.book-card-info__description the stories in Mothers lay bare the emotional and psychic damage of life, love, and abandonment...
              span.book-card-info__price $12.35
              button.book-card-info__button buy now
        button.load-more__btn Load more